.row_wizard:has(td.og_value) {
  width: 100%;
}
.row_wizard:has(td.og_value) td.og_property,
.row_wizard:has(td.og_value) td.og_value {
  width: 50%;
  vertical-align: top;
}
.row_wizard:has(td.og_value) td.og_value textarea {
  resize: vertical;
}
.row_wizard:has(td.og_value) td.og_value:has(> img[id^=toggle_]) > .tl_text {
  width: calc(100% - 24px);
}
.row_wizard:has(td.og_value) td.og_value > img[id^=toggle_] {
  vertical-align: middle;
}

fieldset[data-contao--toggle-fieldset-id-value=opengraph_legend] legend button {
  display: flex;
}
fieldset[data-contao--toggle-fieldset-id-value=opengraph_legend] legend button:before {
  content: "";
  display: block;
  margin-right: 1ch;
  width: 1em;
  height: 1em;
  background: url("../img/icon-ogp.svg") no-repeat scroll 50% 50%;
  background-size: contain;
}

fieldset[data-contao--toggle-fieldset-id-value=twitter_legend] legend button {
  display: flex;
}
fieldset[data-contao--toggle-fieldset-id-value=twitter_legend] legend button:before {
  content: "";
  display: block;
  margin-right: 1ch;
  width: 1em;
  height: 1em;
  background: url("../img/icon-twitter.svg") no-repeat scroll 50% 50%;
  background-size: contain;
}

html[data-color-scheme=dark] fieldset[data-contao--toggle-fieldset-id-value=opengraph_legend] legend button:before {
  background-image: url("../img/icon-ogp_1c.svg");
}
html[data-color-scheme=dark] fieldset[data-contao--toggle-fieldset-id-value=opengraph_legend] legend button:before,
html[data-color-scheme=dark] fieldset[data-contao--toggle-fieldset-id-value=twitter_legend] legend button:before {
  filter: brightness(0) invert(50%) sepia(24%) saturate(224%) hue-rotate(184deg) brightness(91%) contrast(90%);
}
