.og_properties > table {

    width: 100%;

    tr {

        height: 1.5rem;

        td {
            vertical-align: top;
            height: auto;

            &.w50 {

                width: 50%;
                float: none;
                position: relative;

                > * {
                    width: calc(100% - 15px);
                    resize: vertical;
                }

                h3 { display:none; }

                + .w50 {
                    padding-left: 15px;
                    width: calc(50% - 70px);
                }
            }


            &.operations {
                width: 70px;
                text-align: right;

                a img[src$=".svg"]{ padding-top: 9px; }
            }
        }

        &:nth-child(1) td.operations a[rel="up"],
        &:nth-last-child(1) td.operations a[rel="down"] {
            cursor: default;
            pointer-events: none;
        }

        &:nth-child(1):nth-last-child(1) td.operations a[rel="delete"] {
            cursor: default;
            pointer-events: none;
            opacity: 0.5;
        }
    }

    &.cto3 {

        tr td.w50 {
            > * { width: calc(100% - 30px); }
            + .w50 { padding-left: 1px; }
        }
    }
}
